version: "3.7"
services:

  tracardi-staging-api:
    image: tracardi/com-tracardi-api:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis://redis:6379
      LOGGING_LEVEL: info
      LICENSE: ${API_LICENSE}
      PRODUCTION: "no"
      TRACK_DEBUG: "yes"
    ports:
      - 8686:80
    depends_on:
      - redis
      - elasticsearch

  tracardi-production-api:
    image: tracardi/com-tracardi-api:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis://redis:6379
      LOGGING_LEVEL: info
      LICENSE: ${API_LICENSE}
      PRODUCTION: "yes"
    ports:
      - 8585:80
    depends_on:
      - redis
      - elasticsearch

  tracardi-gui:
    image: tracardi/tracardi-gui:0.8.1
    environment:
      API_URL: http://tracardi-staging-api:8686
    ports:
      - 8787:80
    depends_on:
      - tracardi-staging-api

  worker:
    image: tracardi/update-worker:0.8.1
    environment:
      REDIS_HOST: redis://redis:6379

  segmentation-worker:
    image: tracardi/com-tracardi-segmentation-worker:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis://redis:6379
      LOGGING_LEVEL: info
      LICENSE: ${API_LICENSE}

  tracardi-scheduler-worker:
    image: tracardi/com-tracardi-scheduler-worker:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis
      LOGGING_LEVEL: info
      PRODUCTION: "yes"
      LICENSE: ${API_LICENSE}
    depends_on:
      - redis
      - elasticsearch

  coping-worker:
    image: tracardi/com-tracardi-coping-worker:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis://redis:6379
      LOGGING_LEVEL: info
      LICENSE: ${API_LICENSE}

  trigger-worker:
    image: tracardi/com-tracardi-trigger-worker:0.8.1
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
      REDIS_HOST: redis://redis:6379
      LOGGING_LEVEL: info
      LICENSE: ${API_LICENSE}

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    environment:
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      discovery.type: single-node
      xpack.security.enabled: "false"
      cluster.name: contextElasticSearch
    volumes:
      - type: volume
        source: esdata
        target: /usr/share/elasticsearch/data

  redis:
    image: redis

volumes:
  esdata:
