version: "3.7"
services:

  tracardi-api:
    image: tracardi/tracardi-api
    environment:
      ELASTIC_HOST: http://elasticsearch:9200
    ports:
      - 8686:80

  tracardi-gui:
    image: tracardi/tracardi-gui
    environment:
      API_URL: http://tracardi-api:8686
    ports:
      - 8787:80

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
      - xpack.security.enabled=false
      - cluster.name=contextElasticSearch
    ports: # Expose Elasticsearch ports
      - 9300:9300
      - 9200:9200
