pip>=24.3.1
setuptools>=75.6.0
fastapi[all]>=0.115.6  #0.103.0
uvicorn[standard]==0.32.1
pydantic==2.10.3
aiofiles==22.1.0
aioredis==2.0.1
hiredis==2.2.3
redis==5.2.1
elasticsearch[async]==7.10.1
prodict==0.8.18
lark==1.1.2
cron-validator==1.0.6
python-multipart
sentry-sdk
alembic==1.13.1
feedparser==6.0.11
beautifulsoup4

git+https://github.com/Tracardi/tracardi.git@1.2.x

# opentelemetry-distro==0.45b0
# opentelemetry-instrumentation-wsgi==0.45b0
# opentelemetry-instrumentation-asyncio==0.45b0
# opentelemetry-instrumentation-fastapi==0.45b0
# opentelemetry-instrumentation-mysql==0.45b0
# opentelemetry-instrumentation-elasticsearch==0.45b0
# opentelemetry-instrumentation-aiohttp-client==0.45b0
# opentelemetry-instrumentation-sqlalchemy==0.45b0
# opentelemetry-instrumentation-logging==0.45b0
# opentelemetry-exporter-otlp-proto-grpc==1.24.0