pip>=21.2.4
fastapi[all]>=0.103.0
uvicorn[standard]>=0.22.0
pydantic>=2.4.0
aiofiles==22.1.0
aioredis==2.0.1
hiredis==2.2.3
redis==4.3.4
elasticsearch[async]==7.10.1
prodict==0.8.18
lark==1.1.2
cron-validator==1.0.6
python-multipart
sentry-sdk

git+https://github.com/Tracardi/tracardi.git@0.8.2-dev  # Change to 0.8.3-dev